.question-ctn {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
}

.question-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-head button {
  color: var(--clr-white);
  background-color: var(--input-error);
}

p.question-title {
  font-size: 1.5rem;
}

.option-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.option {
  background-color: var(--light-gray);
  width: 100%;
  cursor: pointer;
}

.option.result-options {
  cursor: default;
}

.option:hover {
  background-color: var(--input-success);
  transition: var(--transition);
}

.option.result-options:hover {
  background-color: var(--light-gray);
  transition: none;
}

.option.correct-option {
  background-color: var(--input-success);
}

.option.correct-option:hover {
  background-color: var(--input-success);
}

.option.incorrect-option {
  background-color: var(--input-error);
}

.option.incorrect-option:hover {
  background-color: var(--input-error);
}

@media screen and (max-width: 800px) {
  .question-ctn {
    width: 90%;
  }
}